div.fire{
	float: left;
	margin-left: 50px;
}
div.your{
	float: right;
	margin-right: 50px;
}

table td{
	width: 60px;
	height: 60px;
	background-image: url('water.jpg');
}

table th{
	padding-bottom: 15px;
	padding-right: 15px;
}